// colors.scss
$primary-color: #136dec;
$background-light: #f6f7f8;
$background-dark: #101822;
$slate-900: #0f172a;
$slate-800: #1e293b;
$slate-700: #334155;
$slate-600: #475569;
$slate-500: #64748b;
$slate-400: #94a3b8;
$slate-300: #cbd5e1;
$slate-200: #e2e8f0;
$slate-100: #f1f5f9;
$slate-50: #f8fafc;
$white: #ffffff;
$emerald-500: #10b981;
$amber-500: #f59e0b;
$red-500: #ef4444;
